@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');

body {
 margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins',sans-serif;
  background: linear-gradient(#141e30, #243b55);
  min-height : 100vh;
 }
 
 #nodriver{
 position: absolute;
 top:50%;
 left:25%;
 color: #03e9f4; 
 }
 
 .container{
	width :  50%;
    background: rgba(0,0,0,.5);
   box-sizing: border-box;
   box-shadow: 0 15px 25px rgba(0,0,0,.6);
   border-radius: 10px;
    color: #03e9f4;
    margin-top : 20px;
}

.driver-info{
	
    padding : 20px;
   color: #03e9f4;	
}

button{
	display: block;
	margin-top : 15px;
	width : 100%;
	padding : 8px;
	font-weight: 900;
   color: black;
   letter-spacing: 3px;
}

button:hover{
	color : black;
	background : #03e9f4;	
}

h2{
	color :  white;
	text-align: center;
}